@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    color: indigo;
    
}

.heading{
    height: 100px;
    text-align:center;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes heading {
    0% {top: -250px}    
    100% {top: 50px}

}
.ülepannikoogid-heading{
    font-family: 'BhuTuka Expanded One', cursive;
    
}

.Koostisosad{
    opacity: 0;
    border: 1px solid black;
    width: 200px ;
    height: 190px;
    margin: 0 auto;
    animation: koostisosad;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    
}

@keyframes koostisosad {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

img{
    width: 100px;
    height: 100px;
}

.juhised{
    
    border: 2px solid black;
    text-align: center;
    width: 200px;
    
} 
 
.a{
    text-align: center;
    position: relative;
    animation: a;
    animation-duration: 5s;
}

@keyframes a {
    0% {left: -1000px;}
    100% {left: 0;}
}